Repository davenicoll/github-goodies, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, documentation, github_actions, packages, scripts, terraform, python

Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: github_actions

Create README.md
  .github/profile/README.md
Labels: documentation, github_actions

Rename .github/profile/README.md to profile/README.md
  profile/README.md
Labels: documentation

Update CODEOWNERS
  .github/CODEOWNERS
Labels: github_actions

Update validate-codeowners.yaml
  .github/workflows/validate-codeowners.yaml
Labels: github_actions

Update CODEOWNERS
  .github/CODEOWNERS
Labels: github_actions

Update CODEOWNERS
  .github/CODEOWNERS
Labels: github_actions

Update validate-codeowners.yaml
  .github/workflows/validate-codeowners.yaml
Labels: github_actions

Update CODEOWNERS
  .github/CODEOWNERS
Labels: github_actions

decision template added
  .github/ISSUE_TEMPLATE/decision_full.yaml
Labels: github_actions

formatting tweak
  .github/ISSUE_TEMPLATE/decision_full.yaml
Labels: github_actions

form ordering change
  .github/ISSUE_TEMPLATE/decision_full.yaml
Labels: github_actions

Update and rename PULL_REQUEST.md to PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, github_actions

Update stale-issues.yaml
  .github/workflows/stale-issues.yaml
Labels: github_actions

Create automerge.yml
  .github/workflows/automerge.yml
Labels: github_actions

Added rfc-template.md
  rfc-template.md
Labels: documentation

Create workflow_test.yaml
  .github/workflows/workflow_test.yaml
Labels: github_actions

Update and rename workflow_test.yaml to workflow-inputs-example.yaml
  .github/workflows/workflow-inputs-example.yaml
Labels: github_actions

Update README.md
  README.md
Labels: documentation

Create branch-naming-conventions.json
  rulesets/branch-naming-conventions.json
Labels: none

Create commit-with-company-email
  rulesets/commit-with-company-email
Labels: none

Rename commit-with-company-email to commit-with-company-email.json
  rulesets/commit-with-company-email.json
Labels: none

Create production-branch-protection.json
  rulesets/production-branch-protection.json
Labels: none

Create enforce-org-linting-standard.json
  rulesets/enforce-org-linting-standard.json
Labels: none

Create prevent-github-actions-changes.json
  rulesets/prevent-github-actions-changes.json
Labels: none

Update README.md
  README.md
Labels: documentation

.github/labeler.yml:

docker:
- 'Dockerfile.*'
- 'Dockerfile'

documentation:
- 'docs/**'
- '**/*.md'

github_actions:
- '.github/*'
- '.github/**/*'

packages:
- 'packages*.txt'
- 'requirements*.txt'

scripts:
- 'scripts/*'
- 'scripts/**/*'
- '**/*.sh'

terraform:
- 'terraform/**'
- 'terraform/**/*'
- '**/*.tf'
- '**/*.tfvars'

python:
- '**/*.py'
